.container{
    margin-top: 20px;
}

.h4{
    font-family: 'Montserrat', sans-serif;
        color: #000;
        font-size: 16px;
}

.form{
    width: 230px;
    display:  flex;
    flex-wrap: wrap;
}

.label{
    font-family: 'Montserrat', sans-serif;
        color: #000;
        font-size: 16px;
}

.field {
    width: 170px;
    height: max-content;
    padding: 6px;
    border-radius: 10px;
    border-color: none;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 16px;
}

.btn_cont{
    display: flex;
    gap: 15px;
}

.btn {
    width: max-content;
    border: none;
    background-color: #426aee;
    padding: 5px 10px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
    background-color: #3651c7;
}

.btn:focus {
    background-color: #1d3b8b;
}