.ul{
    display:flex;
    flex-wrap: wrap;
    gap: 20px;  
    width: 100%;
    list-style: none;
    margin-left: 50px;
    margin-top: 40px;
}

.li{
    width: max-content;
}
 
.p{
    font-family: 'Montserrat', sans-serif;
        color: #000;
        font-size: 16px;
}